<div class="row">
    <div class="col-md-4" *ngFor = "let type of types">
        <div class="container">
            <div class="heading">
                <h3> {{type.label}}</h3>
                <mat-icon class="tap" (click)="onNewCard(type.key)">add</mat-icon>
            </div>
            <div 
                class="list-group">
                <app-card-item *ngFor="let card of type.arr" [cardItem]="card" >  
                    <!-- (refresh)="onRefresh()" -->
                </app-card-item>
            </div> 
        </div>
    </div>
</div>