<div class="row">
    <div class="col-md-4">
        <div class="container">
            <h3> Todo </h3>
            <div 
                class="list-group">
                <app-card-item *ngFor="let card of todoCards" [cardItem]="card">  
                </app-card-item>
            </div>
            <button class="btn btn-primary" (click)="onNewCard('todo')">Add a card...</button>
        </div>
    </div>
    <div class="col-md-4">
        <div class="container">
            <h3> Doing </h3>
            <div 
                class="list-group">
                <app-card-item *ngFor="let card of doingCards" [cardItem]="card">
                </app-card-item>
            </div>
            <button class="btn btn-primary" (click)="onNewCard('doing')">Add a card...</button>
        </div>
    </div>
    <div class="col-md-4">
        <div class="container">
            <h3> Done </h3>
            <div 
                class="list-group">
                <app-card-item *ngFor="let card of doneCards" [cardItem]="card">
                </app-card-item>
            </div>
            <button class="btn btn-primary" (click)="onNewCard('done')">Add a card...</button>
        </div>
    </div>
</div>