<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="cardForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" id="title" formControlName="title" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea type="text" id="description" formControlName="description" class="form-control" rows="6"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="status">Status</label>
                        <select name="status" id="status" formControlName="status" class="form-control">
                            <option value="todo" selected>todo</option>
                            <option value="doing">doing</option>
                            <option value="done">done</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button type="button" class="btn btn-primary" (click)="onSubmit()">Save</button>
                    <button type="button" class="btn btn-primary" (click)="dialogRef.close()">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>
